@charset "UTF-8";

#counter {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 40% 1fr;
  height: 68%;
}
  
.arrows {
  height: 50%;
  width: 75%;
  cursor: pointer;
}
  
#counterArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: calc(10px + 6vmin);
  margin: 0 8%;
  height: 70%;
  width: 60%;
  min-width: 360px;
  border-radius: 80%;
}

@media (max-width: 1100px) {

  #counter {
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
  }

  #arrowsContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  #counterArea {
    margin: 0;
    width: 25%;
    height: 100%;
    width: 40%;
    min-height: 300px;
    min-width: 360px;
  }

  .arrows {
    height: 75%;
    width: 25%;
    min-width: 250px;
    min-height: 90px;
  }
}

@media (max-width: 590px) {
  #counterArea {
    height: 70%;
    min-height: 220px;
    min-width: 270px;
  }

  .arrows {
    height: 55%;
    width: 10%;
    min-width: 140px;
  }
}
