@charset "UTF-8";

#counter {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 40% 1fr;
  height: 68%;
}
  
.arrows {
  height: 50%;
  width: 55%;
  min-width: 150px;
  min-height: 70px;
  cursor: pointer;
}
  
#counterArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: calc(10px + 6vmin);
  margin: 0 8%;
  height: 70%;
  width: 60%;
  min-width: 260px;
  border-radius: 80%;
}

@media (max-width: 1100px) {

  #counter {
    grid-template-columns: 1fr;
    grid-template-rows: 60% 1fr;
  }

  #arrowsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    }

    #counterArea {
      margin: 0;
    }
}
