@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

#counter-container {
    height: 100vh;
}

#counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 68%;
}
